{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title class="title">My E-Commerce Website</title>
  </head>
  <body>
    <header>
      <h1>My E-Commerce Website</h1>
      {% include "navbar.html" %}
    </header>
    <main>
        {% for cart in user_cart %}
        <div>
            <img src="{{ cart.product.image.url }}" alt="Product 1" height="200" width="200">
            <h2>{{ cart.product.name }}</h2>
            <h3>$ {{ cart.product.price }}</h3>
            <button><a href="{% url 'delete_product_from_cart' cart.id %}">Delete</a></button>
        </div>
        <hr>
        {% endfor %}
    </main>
  </body>
</html>
