<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% include "messages.html" %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        Name:
        <input type="text" name="name"><br><br>
        Email:
        <input type="email" name="email"><br><br>
        Password:
        <input type="password" name="password1"><br><br>
        Confirm Password:
        <input type="password" name="password2"><br><br>
        <button>Register</button>
    </form>
</body>
</html>