<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
    <button><a href="{% url 'blog' %}">Back</a></button>
    <form action="{% url 'create_blog' %}" method="post">
        {% csrf_token %}
        <label for="">Title:</label>
        <input type="text" name="title">
        <br>
        <br>
        <label for="">Image</label>
        <input type="file" name="image">
        <br>
        <br>
        <label for="">Content:</label>
        <textarea name="content" cols="30" rows="10"></textarea>
        <br><br>
        <label for="">Writer:</label>
        <select name="writer" id="">
            {% for user in all_users %}
            <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Save Blog</button>
    </form>
</body>
</html>